* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(img/unnamed.jpg);
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-size: 16px;
  font-family: system-ui, sans-serif;
}

.header {
  max-width: 100%;
  padding: 1rem;
}

.header h1 {
  font-size: 3em;
  color: #efefef;
  border-bottom: 1px solid #efefef;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.campeon {
  margin: 1rem;
  padding: 0.5rem;
  background: rgba(16, 44, 89, 0.5);
  text-align: center;
  border-bottom: 1px solid #000;
}

.campeon img {
  max-width: 100%;
  height: auto;
  border-radius: 0 0 1rem 0;
  border: 1px solid rgba(16, 44, 89);
}

.campeon a {
  color: #fff;
  text-decoration: none;
}

.campeon a:visited {
  color: #fff;
}

.campeon h2 {
  font-size: 2em;
}

